## 1. Preprocessing the dataset:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:


#Importing pre-requisite libaries
import os
import re
import nltk
import glob
import tqdm
import pickle
import random
import string
import inflect
import operator
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
from tqdm import tqdm
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
from nltk import tokenize
from nltk import word_tokenize
import matplotlib.pyplot as plt
from collections import Counter
from nltk.corpus import stopwords
from prettytable import PrettyTable
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from bs4 import BeautifulSoup

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/IR ASSIGNMENT 2/BBC News Train.csv',encoding='latin-1')

In [ ]:
def cleanText(text):
    text = BeautifulSoup(text, "lxml").text
    text = re.sub(r'\|\|\|', r' ', text) 
    text = re.sub(r'http\S+', r'<URL>', text)
    text = text.lower()
    # text = text.replace('x', '')
    text= text.replace(',','')
    text = text.replace('\'s','')
    text = text.replace('-',' ')
    return text
df['Text'] = df['Text'].apply(cleanText)

In [ ]:
tempdf=df['Text']
tempdf=tempdf.apply(word_tokenize)
df['Text']=tempdf
tempdf=df['Text']
nltk.download('stopwords')
stopli = set(stopwords.words('english'))
tempdf=tempdf.apply(lambda x: [item for item in x if item not in stopli])
df['Text']=tempdf

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# Use English stemmer.
stemmer = SnowballStemmer("english")
tempdf = tempdf.apply(lambda x: [stemmer.stem(y) for y in x])

In [ ]:
df['Text']=tempdf

In [ ]:
df.head(5)

   ArticleId                                               Text  Category
0       1833  [worldcom, ex, boss, launch, defenc, lawyer, d...  business
1        154  [german, busi, confid, slide, german, busi, co...  business
2       1101  [bbc, poll, indic, econom, gloom, citizen, maj...  business
3       1976  [lifestyl, govern, mobil, choic, faster, bette...      tech
4        917  [enron, boss, $, 168m, payout, eighteen, forme...  business

In [ ]:

df=df.drop('ArticleId', axis=1)

In [ ]:
df.head(10)

                                                Text       Category
0  [worldcom, ex, boss, launch, defenc, lawyer, d...       business
1  [german, busi, confid, slide, german, busi, co...       business
2  [bbc, poll, indic, econom, gloom, citizen, maj...       business
3  [lifestyl, govern, mobil, choic, faster, bette...           tech
4  [enron, boss, $, 168m, payout, eighteen, forme...       business
5  [howard, truant, play, snooker, conserv, leade...       politics
6  [wale, silent, grand, slam, talk, rhys, willia...          sport
7  [french, honour, director, parker, british, fi...  entertainment
8  [car, giant, hit, merced, slump, slump, profit...       business
9  [focker, fuel, festiv, film, chart, comedi, me...  entertainment

In [ ]:
count = 0
for word in df['Text'][0]:
  if word == 'worldcom':
    count+=1
print(count)

9

In [ ]:
df['Category'].unique()

array(['business', 'tech', 'politics', 'sport', 'entertainment'],
      dtype=object)

In [ ]:
def tf(dct, listOfWords):
    for word in listOfWords:
        if word not in dct:
          dct[word]=1
        else:
          dct[word]+=1
    return(dct)

In [ ]:
tfdf = pd.DataFrame({'Category':['business', 'tech', 'politics', 'sport', 'entertainment']})
tfdf.head()

        Category
0       business
1           tech
2       politics
3          sport
4  entertainment

In [ ]:
tfbusiness = {}
tftech = {}
tfpolitics = {}
tfsport = {}
tfentertainment = {}
for i in range(len(df['Text'])):
  if df['Category'][i]=='business':
    tfbusiness.update(tf(tfbusiness, df['Text'][i]))
  if df['Category'][i]=='tech':
    tftech.update(tf(tftech, df['Text'][i]))
  if df['Category'][i]=='politics':
    tfpolitics.update(tf(tfpolitics, df['Text'][i]))
  if df['Category'][i]=='sport':
    tfsport.update(tf(tfsport, df['Text'][i]))
  if df['Category'][i]=='entertainment':
    tfentertainment.update(tf(tfentertainment, df['Text'][i]))
tfdf = pd.DataFrame([tfbusiness, tftech, tfpolitics, tfsport, tfentertainment])
tfdf.head()

,worldcom,ex,boss,launch,defenc,lawyer,defend,former,chief,berni,...,103,playboyz,maniac,granada,cheeki,cassett,grandma,verbalici,stereophon,rapport
0,54.0,10,40,41,18,26,5,79,156,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2,5,121,9,8,9,18,46,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,35,5,40,16,19,35,82,58,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4,77,8,37,7,75,86,24,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,10,2,25,1,15,3,52,16,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
tfdf.fillna(0, inplace = True)
tfdf.head()

,worldcom,ex,boss,launch,defenc,lawyer,defend,former,chief,berni,...,103,playboyz,maniac,granada,cheeki,cassett,grandma,verbalici,stereophon,rapport
0,54.0,10,40,41,18,26,5,79,156,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,2,5,121,9,8,9,18,46,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,35,5,40,16,19,35,82,58,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,4,77,8,37,7,75,86,24,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,10,2,25,1,15,3,52,16,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
import math
icf = {}
for i in range(len(df['Text'])):
  for j in df['Text'][i]:
    if j in icf:
      if df['Category'][i] not in icf[j]:
        icf[j].append(df['Category'][i])
    else:
      icf[j] = []
      icf[j].append(df['Category'][i])
    # print(j)

for i in icf.keys():
  icf[i] = math.log(5/len(icf[i]), 10)
icf

{'worldcom': 0.6989700043360187,
 'ex': 0.0,
 'boss': 0.0,
 'launch': 0.0,
 'defenc': 0.0,
 'lawyer': 0.0,
 'defend': 0.0,
 'former': 0.0,
 'chief': 0.0,
 'berni': 0.6989700043360187,
 'ebber': 0.6989700043360187,
 'batteri': 0.0969100130080564,
 'fraud': 0.0969100130080564,
 'charg': 0.0,
 'call': 0.0,
 'compani': 0.0,
 'whistleblow': 0.6989700043360187,
 'first': 0.0,
 'wit': 0.0,
 '.': 0.0,
 'cynthia': 0.3979400086720376,
 'cooper': 0.0,
 'head': 0.0,
 'intern': 0.0,
 'account': 0.0,
 'alert': 0.0,
 'director': 0.0,
 'irregular': 0.22184874961635637,
 'practic': 0.0,
 'us': 0.0,
 'telecom': 0.3979400086720376,
 'giant': 0.0,
 '2002.': 0.0,
 'warn': 0.0,
 'led': 0.0,
 'collaps': 0.0,
 'firm': 0.0,
 'follow': 0.0,
 'discoveri': 0.0969100130080564,
 '$': 0.0,
 '11bn': 0.6989700043360187,
 '(': 0.0,
 'â£5.7bn': 0.6989700043360187,
 ')': 0.0,
 'mr': 0.0,
 'plead': 0.0,
 'guilti': 0.0,
 'conspiraci': 0.0969100130080564,
 'prosecut': 0.0,
 'argu': 0.0,
 'orchestr': 0.3979400086720376,
 'seri': 0.0,
 'trick': 0.0,
 'order': 0.0,
 'employe': 0.0,
 'hide': 0.0,
 'expens': 0.0,
 'inflat': 0.22184874961635637,
 'revenu': 0.0,
 'meet': 0.0,
 'wall': 0.0969100130080564,
 'street': 0.0,
 'earn': 0.0,
 'estim': 0.0969100130080564,
 'ms': 0.0969100130080564,
 'run': 0.0,
 'consult': 0.0,
 'busi': 0.0,
 'told': 0.0,
 'juri': 0.0,
 'new': 0.0,
 'york': 0.0,
 'wednesday': 0.0,
 'extern': 0.22184874961635637,
 'auditor': 0.22184874961635637,
 'arthur': 0.0,
 'andersen': 0.3979400086720376,
 'approv': 0.0,
 'earli': 0.0,
 '2001': 0.0,
 'said': 0.0,
 'given': 0.0,
 'green': 0.0,
 'light': 0.0,
 'procedur': 0.0,
 'use': 0.0,
 'unawar': 0.0969100130080564,
 'problem': 0.0,
 'also': 0.0,
 'sharehold': 0.22184874961635637,
 'often': 0.0,
 'pass': 0.0,
 'technic': 0.0,
 'question': 0.0,
 'financ': 0.0,
 'give': 0.0,
 'brief': 0.0,
 'answer': 0.0,
 'star': 0.0,
 'financi': 0.0,
 'scott': 0.0,
 'sullivan': 0.0969100130080564,
 'adjust': 0.22184874961635637,
 'tell': 0.0,
 'hit': 0.0,
 'book': 0.0,
 'howev': 0.0,
 'mention': 0.0,
 'anyth': 0.0,
 'uncomfort': 0.3979400086720376,
 'audit': 0.22184874961635637,
 'committe': 0.0,
 'could': 0.0,
 'face': 0.0,
 'jail': 0.0,
 'sentenc': 0.0969100130080564,
 '85': 0.0,
 'year': 0.0,
 'convict': 0.0,
 'emerg': 0.0,
 'bankruptci': 0.3979400086720376,
 'protect': 0.0,
 '2004': 0.0,
 'known': 0.0,
 'mci': 0.3979400086720376,
 'last': 0.0,
 'week': 0.0,
 'agre': 0.0,
 'buyout': 0.6989700043360187,
 'verizon': 0.6989700043360187,
 'communic': 0.0,
 'deal': 0.0,
 'valu': 0.0,
 '6.75bn': 0.6989700043360187,
 'german': 0.0,
 'confid': 0.0,
 'slide': 0.22184874961635637,
 'fell': 0.0,
 'februari': 0.0,
 'knock': 0.0,
 'hope': 0.0,
 'speedi': 0.22184874961635637,
 'recoveri': 0.0969100130080564,
 'europ': 0.0,
 'largest': 0.0969100130080564,
 'economi': 0.0969100130080564,
 'munich': 0.0969100130080564,
 'base': 0.0,
 'research': 0.0969100130080564,
 'institut': 0.0,
 'ifo': 0.6989700043360187,
 'index': 0.22184874961635637,
 '95.5': 0.3979400086720376,
 '97.5': 0.6989700043360187,
 'januari': 0.0,
 'declin': 0.0,
 'three': 0.0,
 'month': 0.0,
 'studi': 0.0,
 'found': 0.0,
 'outlook': 0.3979400086720376,
 'manufactur': 0.0969100130080564,
 'retail': 0.0969100130080564,
 'sector': 0.0969100130080564,
 'worsen': 0.22184874961635637,
 'observ': 0.0,
 'would': 0.0,
 'signal': 0.0969100130080564,
 'econom': 0.0969100130080564,
 'activ': 0.0969100130080564,
 'pick': 0.0,
 'surpris': 0.0,
 'taken': 0.0,
 'dz': 0.6989700043360187,
 'bank': 0.0,
 'economist': 0.3979400086720376,
 'bernd': 0.6989700043360187,
 'weidenstein': 0.6989700043360187,
 'main': 0.0,
 'reason': 0.0,
 'probabl': 0.0,
 'domest': 0.0969100130080564,
 'still': 0.0,
 'weak': 0.0,
 'particular': 0.0,
 'trade': 0.0969100130080564,
 'labour': 0.0,
 'minist': 0.0,
 'wolfgang': 0.6989700043360187,
 'clement': 0.22184874961635637,
 'dip': 0.22184874961635637,
 'figur': 0.0,
 'mild': 0.3979400086720376,
 'despit': 0.0,
 'retreat': 0.0969100130080564,
 'remain': 0.0,
 'relat': 0.0,
 'high': 0.0,
 'level': 0.0,
 'expect': 0.0,
 'modest': 0.0,
 'upsw': 0.6989700043360187,
 'continu': 0.0,
 'germani': 0.0,
 'grew': 0.0969100130080564,
 '1.6': 0.3979400086720376,
 '%': 0.0,
 'shrink': 0.3979400086720376,
 '2003.': 0.0,
 'contract': 0.0,
 '0.2': 0.6989700043360187,
 'due': 0.0,
 'reluct': 0.0969100130080564,
 'consum': 0.0969100130080564,
 'spend': 0.0,
 'latest': 0.0,
 'indic': 0.0,
 'growth': 0.0969100130080564,
 'prove': 0.0,
 'elus': 0.3979400086720376,
 'presid': 0.0,
 'han': 0.3979400086720376,
 'werner': 0.6989700043360187,
 'sinn': 0.6989700043360187,
 'improv': 0.0,
 'demand': 0.0,
 'sluggish': 0.22184874961635637,
 'export': 0.0969100130080564,
 'kept': 0.0,
 'thing': 0.0,
 'go': 0.0,
 'half': 0.0,
 'euro': 0.0,
 'record': 0.0,
 'make': 0.0,
 'product': 0.0,
 'less': 0.0,
 'competit': 0.0,
 'oversea': 0.0,
 'top': 0.0,
 'unemploy': 0.22184874961635637,
 'rate': 0.0,
 'stuck': 0.0,
 'close': 0.0,
 '10': 0.0,
 'includ': 0.0,
 'daimlerchrysl': 0.6989700043360187,
 'siemen': 0.3979400086720376,
 'volkswagen': 0.6989700043360187,
 'negoti': 0.0,
 'union': 0.0,
 'cost': 0.0,
 'cut': 0.0,
 'measur': 0.0,
 'analyst': 0.0969100130080564,
 'may': 0.0,
 'delay': 0.0,
 'interest': 0.0,
 'rise': 0.0,
 'european': 0.0,
 'central': 0.0,
 'eurozon': 0.6989700043360187,
 '2': 0.0,
 'comment': 0.0,
 'senior': 0.0,
 'offici': 0.0,
 'recent': 0.0,
 'focus': 0.0,
 'threat': 0.0,
 'prompt': 0.0,
 'fear': 0.0,
 'bbc': 0.0,
 'poll': 0.0,
 'gloom': 0.3979400086720376,
 'citizen': 0.0,
 'major': 0.0,
 'nation': 0.0,
 'survey': 0.0,
 'world': 0.0,
 'servic': 0.0,
 'believ': 0.0,
 'respond': 0.0,
 'get': 0.0,
 'wors': 0.0,
 'ask': 0.0,
 'famili': 0.0,
 '14': 0.0,
 'countri': 0.0,
 'posit': 0.0,
 'futur': 0.0,
 'almost': 0.0,
 '23': 0.0,
 '000': 0.0,
 'peopl': 0.0,
 '22': 0.0,
 'most': 0.0969100130080564,
 'conduct': 0.0,
 'asian': 0.0,
 'tsunami': 0.0,
 'disast': 0.0,
 'plural': 0.6989700043360187,
 '13': 0.0,
 'downhil': 0.3979400086720376,
 'compar': 0.0,
 'nine': 0.0,
 'split': 0.0,
 'percentag': 0.0969100130080564,
 'term': 0.0,
 'averag': 0.0,
 '44': 0.0,
 '34': 0.0,
 'similar': 0.0,
 '48': 0.0969100130080564,
 'pessimist': 0.3979400086720376,
 '41': 0.0969100130080564,
 'optimist': 0.0,
 '47': 0.0,
 'saw': 0.0,
 'condit': 0.0,
 '36': 0.0,
 '953': 0.6989700043360187,
 'globescan': 0.6989700043360187,
 'togeth': 0.0,
 'program': 0.0,
 'polici': 0.0,
 'attitud': 0.0,
 'pipa': 0.6989700043360187,
 'univers': 0.0,
 'maryland': 0.3979400086720376,
 'difficult': 0.0,
 'time': 0.0,
 'ago': 0.0,
 'seem': 0.0,
 'fulli': 0.0,
 'absorb': 0.22184874961635637,
 'develop': 0.0,
 'though': 0.0,
 'person': 0.0,
 'experienc': 0.0,
 'effect': 0.0,
 'steven': 0.0,
 'kull': 0.6989700043360187,
 'around': 0.0,
 'say': 0.0,
 ':': 0.0,
 'ok': 0.0969100130080564,
 'percept': 0.0969100130080564,
 'war': 0.0,
 'terror': 0.0969100130080564,
 'religi': 0.22184874961635637,
 'polit': 0.0,
 'divis': 0.0,
 'place': 0.0,
 'even': 0.0,
 'far': 0.0,
 'reflect': 0.0,
 'global': 0.0,
 'perform': 0.0,
 'elizabeth': 0.0969100130080564,
 'blunt': 0.0969100130080564,
 'two': 0.0,
 'fast': 0.0,
 'grow': 0.0,
 'china': 0.0,
 'india': 0.0,
 'indonesia': 0.22184874961635637,
 'seen': 0.0,
 'decad': 0.0,
 'blister': 0.3979400086720376,
 'wealth': 0.0969100130080564,
 'creation': 0.0969100130080564,
 'huge': 0.0,
 'scale': 0.0969100130080564,
 'louisa': 0.3979400086720376,
 'lim': 0.3979400086720376,
 'beij': 0.0969100130080564,
 'result': 0.0,
 'untrammel': 0.6989700043360187,
 'subject': 0.0,
 'endless': 0.22184874961635637,
 'govern': 0.0,
 'propaganda': 0.22184874961635637,
 'rosi': 0.3979400086720376,
 'correspond': 0.0969100130080564,
 'south': 0.0,
 'korea': 0.0,
 'itali': 0.0,
 'mexico': 0.0,
 'quit': 0.0,
 'gloomi': 0.22184874961635637,
 'david': 0.0,
 'willey': 0.6989700043360187,
 'rome': 0.0969100130080564,
 'one': 0.0,
 'changeov': 0.6989700043360187,
 'lira': 0.6989700043360187,
 'wide': 0.0,
 'view': 0.0,
 'biggest': 0.0,
 'wage': 0.0,
 'salari': 0.22184874961635637,
 'worth': 0.0,
 'philippin': 0.6989700043360187,
 'among': 0.0,
 'upbeat': 0.0,
 'prospect': 0.0,
 '15': 0.0,
 'novemb': 0.0,
 '3': 0.0,
 '2005': 0.0,
 'across': 0.0,
 'telephon': 0.0,
 'interview': 0.0,
 'took': 0.0,
 '5': 0.0,
 '2005.': 0.0,
 'margin': 0.0969100130080564,
 'error': 0.0,
 '2.5': 0.22184874961635637,
 '4': 0.0,
 'point': 0.0,
 'depend': 0.0,
 'eight': 0.0,
 'sampl': 0.0,
 'limit': 0.0,
 'metropolitan': 0.0969100130080564,
 'area': 0.0,
 'lifestyl': 0.3979400086720376,
 'mobil': 0.0969100130080564,
 'choic': 0.0,
 'faster': 0.22184874961635637,
 'better': 0.0,
 'funkier': 0.6989700043360187,
 'hardwar': 0.3979400086720376,
 'alon': 0.0,
 'help': 0.0,
 'phone': 0.0,
 'sell': 0.0,
 'handset': 0.3979400086720376,
 'suggest': 0.0,
 'instead': 0.0,
 'keen': 0.0,
 'custom': 0.0,
 'push': 0.0,
 'technolog': 0.0,
 'sake': 0.22184874961635637,
 'fit': 0.0,
 'screen': 0.0,
 'size': 0.0,
 'onboard': 0.6989700043360187,
 'memori': 0.0969100130080564,
 'chip': 0.0969100130080564,
 'insid': 0.0,
 'show': 0.0,
 'depth': 0.0969100130080564,
 'maker': 0.0969100130080564,
 'ericsson': 0.6989700043360187,
 'histor': 0.0,
 'industri': 0.0,
 'much': 0.0,
 'dr': 0.0969100130080564,
 'michael': 0.0,
 'bjorn': 0.3979400086720376,
 'advisor': 0.0969100130080564,
 'media': 0.0,
 'enterpris': 0.0969100130080564,
 'lab': 0.6989700043360187,
 'stop': 0.0,
 'chang': 0.0,
 'live': 0.0,
 'tri': 0.0,
 'speak': 0.0,
 'languag': 0.0,
 'see': 0.0,
 'news': 0.0,
 'websit': 0.0,
 'owner': 0.0,
 'way': 0.0,
 'habit': 0.0969100130080564,
 'move': 0.0,
 'conveni': 0.0,
 'good': 0.0,
 'exampl': 0.0,
 'diari': 0.0969100130080564,
 'write': 0.0,
 'younger': 0.0,
 'alway': 0.0,
 'popular': 0.0969100130080564,
 'especi': 0.0,
 'equip': 0.0969100130080564,
 'camera': 0.0969100130080564,
 'keep': 0.0,
 'differ': 0.0,
 'form': 0.0,
 'youngster': 0.0,
 'text': 0.0969100130080564,
 'messag': 0.0,
 'desir': 0.0,
 'chat': 0.0969100130080564,
 'contact': 0.0,
 'friend': 0.0,
 'let': 0.0,
 'slight': 0.0,
 'although': 0.0,
 'sheer': 0.0969100130080564,
 'varieti': 0.0,
 'possibl': 0.0,
 'gradual': 0.22184874961635637,
 'drive': 0.0,
 'shown': 0.0,
 'divid': 0.0969100130080564,
 'tribe': 0.6989700043360187,
 'group': 0.0,
 'dub': 0.0,
 'pioneer': 0.0,
 'materialist': 0.6989700043360187,
 'behind': 0.0,
 'start': 0.0,
 'mani': 0.0,
 'trend': 0.0969100130080564,
 'instanc': 0.0969100130080564,
 'older': 0.0,
 'sms': 0.6989700043360187,
 'five': 0.0,
 'user': 0.22184874961635637,
 'children': 0.0969100130080564,
 'age': 0.0,
 'encourag': 0.0,
 'touch': 0.0,
 'anoth': 0.0,
 'factor': 0.0,
 'speed': 0.0,
 'simpl': 0.0,
 'devic': 0.0969100130080564,
 'bought': 0.0969100130080564,
 '25': 0.0,
 'innov': 0.22184874961635637,
 'worri': 0.0,
 'send': 0.0,
 'pictur': 0.0,
 'end': 0.0,
 'abl': 0.0,
 'signific': 0.0,
 'number': 0.0,
 'tend': 0.0,
 'take': 0.0,
 'report': 0.0,
 'usag': 0.6989700043360187,
 'japan': 0.0,
 'impli': 0.0969100130080564,
 'flop': 0.22184874961635637,
 '45': 0.0,
 'japanes': 0.0969100130080564,
 'least': 0.0,
 '2003': 0.0,
 '29': 0.0,
 'snap': 0.0969100130080564,
 'uk': 0.0,
 'phonecam': 0.6989700043360187,
 'film': 0.0969100130080564,
 'digit': 0.0969100130080564,
 'pattern': 0.0,
 'exact': 0.0,
 'replac': 0.0,
 'analogu': 0.3979400086720376,
 'event': 0.0,
 'wed': 0.22184874961635637,
 'holiday': 0.0,
 'birthday': 0.0969100130080564,
 'contrast': 0.0,
 'captur': 0.0,
 'moment': 0.0,
 'woven': 0.6989700043360187,
 'everyday': 0.3979400086720376,
 'life': 0.0,
 'enron': 0.6989700043360187,
 '168m': 0.6989700043360187,
 'payout': 0.3979400086720376,
 'eighteen': 0.6989700043360187,
 'â£89m': 0.6989700043360187,
 'settlement': 0.0969100130080564,
 'lawsuit': 0.0969100130080564,
 'energi': 0.0,
 'lead': 0.0,
 'plaintiff': 0.6989700043360187,
 'california': 0.0969100130080564,
 'announc': 0.0,
 'ad': 0.0,
 'pay': 0.0,
 '13m': 0.6989700043360187,
 'pocket': 0.22184874961635637,
 'put': 0.0,
 'court': 0.0,
 'next': 0.0,
 'went': 0.0,
 'bankrupt': 0.22184874961635637,
 'hidden': 0.0969100130080564,
 'hundr': 0.0969100130080564,
 'million': 0.0,
 'dollar': 0.0969100130080564,
 'debt': 0.0,
 'seventh': 0.0969100130080564,
 'public': 0.0,
 'demis': 0.0969100130080564,
 'sent': 0.0,
 'shockwav': 0.6989700043360187,
 'market': 0.0,
 'dent': 0.22184874961635637,
 'investor': 0.0969100130080564,
 'corpor': 0.0969100130080564,
 'america': 0.0,
 'hold': 0.0,
 'outsid': 0.0,
 'partial': 0.0969100130080564,
 'respons': 0.0,
 'william': 0.0,
 'lerach': 0.6989700043360187,
 'class': 0.0,
 'action': 0.0,
 'suit': 0.0,
 'boardroom': 0.3979400086720376,
 'import': 0.0,
 'legal': 0.0,
 'duti': 0.0,
 '155m': 0.6989700043360187,
 'cover': 0.0,
 'insur': 0.0969100130080564,
 'none': 0.0,
 '18': 0.0,
 'admit': 0.0,
 'wrongdo': 0.22184874961635637,
 'fourth': 0.0969100130080564,
 'file': 0.0,
 'behalf': 0.0,
 '500m': 0.3979400086720376,
 'â£378.8m': 0.6989700043360187,
 'retriev': 0.22184874961635637,
 'execut': 0.0,
 'ken': 0.0969100130080564,
 'lay': 0.0,
 'jeff': 0.0,
 'skill': 0.0,
 'men': 0.0,
 'crimin': 0.0,
 'alleg': 0.0,
 'misconduct': 0.22184874961635637,
 'neither': 0.0,
 'andrew': 0.0,
 'fastow': 0.6989700043360187,
 'part': 0.0,
 'illeg': 0.0,
 'offic': 0.0,
 'seek': 0.0,
 'damag': 0.0,
 'long': 0.0,
 'list': 0.0,
 'big': 0.0,
 'name': 0.0,
 'jp': 0.3979400086720376,
 'morgan': 0.0969100130080564,
 'chase': 0.0969100130080564,
 'citigroup': 0.6989700043360187,
 'merril': 0.6989700043360187,
 'lynch': 0.3979400086720376,
 'credit': 0.0,
 'suiss': 0.6989700043360187,
 'boston': 0.22184874961635637,
 'trial': 0.0,
 'case': 0.0,
 'schedul': 0.0,
 'begin': 0.0,
 'octob': 0.0,
 '2006.': 0.0,
 'join': 0.0,
 'decemb': 0.0,
 '2001alleg': 0.6989700043360187,
 'massiv': 0.0,
 'claim': 0.0,
 'lost': 0.0,
 '145m': 0.6989700043360187,
 'invest': 0.0969100130080564,
 'howard': 0.0,
 'truant': 0.6989700043360187,
 'play': 0.0,
 'snooker': 0.6989700043360187,
 'conserv': 0.0969100130080564,
 'leader': 0.0,
 'school': 0.0,
 'hall': 0.0,
 'jack': 0.0,
 'llanelli': 0.3979400086720376,
 '1950s': 0.22184874961635637,
 'done': 0.0,
 'educ': 0.0,
 'supplement': 0.22184874961635637,
 'truanci': 0.6989700043360187,
 'bad': 0.0,
 'need': 0.0,
 'return': 0.0,
 'classroom': 0.3979400086720376,
 'disciplin': 0.0,
 'eventu': 0.0,
 'left': 0.0,
 'grammar': 0.22184874961635637,
 'cambridg': 0.22184874961635637,
 'think': 0.0,
 'made': 0.0,
 'champion': 0.0,
 'might': 0.0,
 'occas': 0.0969100130080564,
 'afternoon': 0.0,
 'honest': 0.0969100130080564,
 'player': 0.0,
 'fail': 0.0,
 'win': 0.0,
 'championship': 0.22184874961635637,
 'jimmi': 0.22184874961635637,
 'whirlwind': 0.6989700043360187,
 'white': 0.0,
 'previous': 0.0,
 'miss': 0.0,
 'lesson': 0.0969100130080564,
 'day': 0.0,
 'smoki': 0.6989700043360187,
 'toni': 0.0,
 'meo': 0.6989700043360187,
 '[': 0.0,
 ']': 0.0,
 'spare': 0.0,
 'love': 0.0,
 'game': 0.0,
 'atmospher': 0.0,
 'window': 0.0,
 'fellow': 0.0,
 'welshman': 0.3979400086720376,
 'ray': 0.0969100130080564,
 'reardon': 0.6989700043360187,
 'profession': 0.0,
 'dracula': 0.3979400086720376,
 'six': 0.0,
 'work': 0.0,
 'miner': 0.3979400086720376,
 'terri': 0.0,
 'griffith': 0.0969100130080564,
 'like': 0.0,
 'tournament': 0.0969100130080564,
 '1979.': 0.3979400086720376,
 'whether': 0.0,
 'ever': 0.0,
 'clash': 0.0,
 'cue': 0.3979400086720376,
 'wale': 0.0,
 'silent': 0.22184874961635637,
 'grand': 0.0969100130080564,
 'slam': 0.6989700043360187,
 'talk': 0.0,
 'rhys': 0.3979400086720376,
 'third': 0.0,
 'mind': 0.0,
 'second': 0.0,
 'saturday': 0.0,
 '24': 0.0,
 'franc': 0.0,
 'pari': 0.0969100130080564,
 'realis': 0.0,
 'task': 0.0,
 'scotland': 0.0,
 'beat': 0.0,
 'come': 0.0,
 'unstuck': 0.6989700043360187,
 'coupl': 0.0,
 'ireland': 0.0,
 'beaten': 0.0,
 'captain': 0.3979400086720376,
 'gareth': 0.22184874961635637,
 'thoma': 0.0,
 'rule': 0.0,
 'rest': 0.0,
 'campaign': 0.0,
 'broken': 0.0,
 'thumb': 0.22184874961635637,
 'vy': 0.0969100130080564,
 'kevin': 0.0,
 'favourit': 0.0,
 'full': 0.0,
 'back': 0.0,
 'leav': 0.0,
 'hal': 0.3979400086720376,
 'luscomb': 0.6989700043360187,
 'battl': 0.0,
 'right': 0.0,
 'wing': 0.0,
 'berth': 0.6989700043360187,
 'hamstr': 0.6989700043360187,
 'injuri': 0.0,
 'deni': 0.0,
 'opportun': 0.0,
 'success': 0.0,
 'dragon': 0.22184874961635637,
 'winger': 0.3979400086720376,
 'trip': 0.0,
 'murrayfield': 0.6989700043360187,
 'march': 0.0,
 'hooker': 0.6989700043360187,
 'robin': 0.22184874961635637,
 'mcbryde': 0.6989700043360187,
 'doubt': 0.0,
 'knee': 0.0969100130080564,
 'centr': 0.0,
 'sonni': 0.6989700043360187,
 'parker': 0.0969100130080564,
 'flanker': 0.6989700043360187,
 'colin': 0.0,
 'charvi': 0.6989700043360187,
 'set': 0.0,
 'recov': 0.0969100130080564,
 'content': 0.0969100130080564,
 'select': 0.0,
 'assist': 0.0,
 'coach': 0.22184874961635637,
 'johnson': 0.0969100130080564,
 'weekend': 0.0,
 'bit': 0.0,
 'add': 0.0,
 'squad': 0.3979400086720376,
 'secur': 0.0,
 'grind': 0.3979400086720376,
 'matt': 0.0969100130080564,
 'side': 0.0,
 'littl': 0.0,
 'attack': 0.0,
 'insist': 0.0969100130080564,
 'scot': 0.22184874961635637,
 'opposit': 0.0,
 'break': 0.0,
 'realli': 0.0,
 'brave': 0.0969100130080564,
 'sometim': 0.0,
 'hard': 0.0,
 'ugli': 0.3979400086720376,
 '30': 0.0,
 '40': 0.0,
 'victori': 0.0,
 'underr': 0.6989700043360187,
 'grant': 0.0,
 'bask': 0.3979400086720376,
 'glori': 0.22184874961635637,
 'got': 0.0,
 'dilig': 0.22184874961635637,
 'prepar': 0.0,
 'job': 0.0,
 'sure': 0.0,
 'french': 0.0,
 'honour': 0.0,
 'british': 0.0,
 'sir': 0.0,
 'alan': 0.0969100130080564,
 'art': 0.0969100130080564,
 'letter': 0.0,
 'highest': 0.0,
 'cultur': 0.0969100130080564,
 'receiv': 0.0,
 'decor': 0.3979400086720376,
 'renaud': 0.6989700043360187,
 'donnedieu': 0.6989700043360187,
 'de': 0.0969100130080564,
 'vabr': 0.6989700043360187,
 'explor': 0.0969100130080564,
 'immens': 0.0969100130080564,
 'talent': 0.0,
 'present': 0.0,
 'award': 0.0,
 'prais': 0.0,
 'hollywood': 0.22184874961635637,
 'creat': 0.0,
 'modern': 0.0,
 'cinema': 0.22184874961635637,
 'commod': 0.0969100130080564,
 'thus': 0.0969100130080564,
 'distinguish': 0.22184874961635637,
 'flag': 0.0969100130080564,
 'carrier': 0.22184874961635637,
 'throughout': 0.0,
 'oscar': 0.3979400086720376,
 'fame': 0.22184874961635637,
 'plus': 0.0,
 'midnight': 0.0969100130080564,
 'express': 0.0,
 'commit': 0.0,
 'member': 0.0,
 'guild': 0.6989700043360187,
 'great': 0.0,
 'britain': 0.0,
 'chairman': 0.0,
 'council': 0.0,
 'board': 0.0,
 'artist': 0.3979400086720376,
 'occupi': 0.0969100130080564,
 'essenti': 0.0969100130080564,
 'contemporari': 0.3979400086720376,
 'societi': 0.0,
 'dream': 0.0,
 'link': 0.0,
 'weav': 0.6989700043360187,
 'mirror': 0.0969100130080564,
 'cite': 0.0,
 'gale': 0.6989700043360187,
 'spacey': 0.6989700043360187,
 'man': 0.0,
 'death': 0.0,
 'row': 0.0969100130080564,
 'proof': 0.0,
 'verit': 0.6989700043360187,
 'car': 0.0,
 'merced': 0.3979400086720376,
 'slump': 0.3979400086720376,
 'profit': 0.0969100130080564,
 'luxuri': 0.0969100130080564,
 'drop': 0.0,
 'parent': 0.0,
 'carmak': 0.6989700043360187,
 'quarter': 0.0,
 'oper': 0.0,
 'fall': 0.0,
 '785m': 0.6989700043360187,
 '1bn': 0.6989700043360187,
 '2.4bn': 0.6989700043360187,
 'benz': 0.6989700043360187,
 'woe': 0.6989700043360187,
 'slid': 0.22184874961635637,
 '20m': 0.22184874961635637,
 'obscur': 0.0969100130080564,
 'strong': 0.0,
 'chrysler': 0.6989700043360187,
 'whose': 0.0,
 'met': 0.0969100130080564,
 'fierc': 0.0,
 'bmw': 0.6989700043360187,
 'reviv': 0.0,
 'fortun': 0.0,
 'period': 0.0,
 'unfavour': 0.3979400086720376,
 '784m': 0.6989700043360187,
 'well': 0.0,
 '374m': 0.6989700043360187,
 'whole': 0.0,
 '46': 0.0969100130080564,
 '1.6bn': 0.3979400086720376,
 'sale': 0.0,
 'brand': 0.0,
 'cool': 0.0,
 'affect': 0.0,
 'blame': 0.0,
 'model': 0.0,
 'loss': 0.0969100130080564,
 'smart': 0.22184874961635637,
 'mini': 0.0,
 'rang': 0.0,
 'increas': 0.0,
 '3bn': 0.3979400086720376,
 'annual': 0.0,

In [ ]:
tfdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 18305 entries, worldcom to rapport
dtypes: float64(16432), int64(1873)
memory usage: 715.2 KB

In [ ]:
for i in tfdf:
  tfdf[i] = tfdf[i]*icf[i]
tfdf.head()

,worldcom,ex,boss,launch,defenc,lawyer,defend,former,chief,berni,...,103,playboyz,maniac,granada,cheeki,cassett,grandma,verbalici,stereophon,rapport
0,37.74438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.59176,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.69897,0.69897,0.69897,0.69897,0.69897,0.69897,0.69897,0.69897,0.69897,0.69897

## 2. The Dataset

In [ ]:
X = df.drop('Category', axis = 1)
print(X)

                                                   Text
0     [worldcom, ex, boss, launch, defenc, lawyer, d...
1     [german, busi, confid, slide, german, busi, co...
2     [bbc, poll, indic, econom, gloom, citizen, maj...
3     [lifestyl, govern, mobil, choic, faster, bette...
4     [enron, boss, $, 168m, payout, eighteen, forme...
...                                                 ...
1485  [doubl, evict, big, brother, model, capric, ho...
1486  [dj, doubl, act, revamp, chart, show, dj, duo,...
1487  [weak, dollar, hit, reuter, revenu, media, gro...
1488  [appl, ipod, famili, expand, market, appl, exp...
1489  [santi, worm, make, unwelcom, visit, thousand,...

[1490 rows x 1 columns]

## 3. Training the Naive Bayes classifier with TF-ICF:

In [ ]:
df_category = {'business':0, 'tech':1, 'politics':2, 'sport':3, 'entertainment':4}

In [ ]:
vectorized_df = pd.DataFrame()

In [ ]:
l1 =[]
lt = {}
for k in range(len(df['Text'])):
  lt = {}
  tokens = set(df['Text'][k])
  cat = df['Category'][k]
  if (cat == 'business'): cat = 0
  if (cat == 'tech'): cat = 1
  if (cat == 'politics'): cat = 2
  if (cat == 'sport'): cat = 3
  if (cat == 'entertainment'): cat = 4
  for j in tokens:
    lt[j] = tfdf[j][cat]
  l1.append(lt)

vectorized_df = pd.DataFrame(l1)
vectorized_df

,(,seri,agre,unawar,11bn,led,revenu,give,bankruptci,book,...,â£220m,6.13bn,â£2.89bn,â£234m,4gb,6gb,santi,unwelcom,phpbb,defac
0,0.0,0.0,0.0,0.38764,7.68867,0.0,0.0,0.0,27.855801,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1486,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1487,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,0.69897,0.69897,0.69897,0.69897,NaN,NaN,NaN,NaN,NaN,NaN
1488,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.69897,0.69897,NaN,NaN,NaN,NaN
1489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.49485,0.69897,2.09691,2.09691

In [ ]:
vectorized_df.fillna(0, inplace=True)
vectorized_df.tail()

,(,seri,agre,unawar,11bn,led,revenu,give,bankruptci,book,...,â£220m,6.13bn,â£2.89bn,â£234m,4gb,6gb,santi,unwelcom,phpbb,defac
1485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1487,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.69897,0.69897,0.69897,0.69897,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.69897,0.69897,0.00000,0.00000,0.00000,0.00000
1489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,3.49485,0.69897,2.09691,2.09691

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(vectorized_df.values, df['Category'].values, test_size=0.30, random_state=42)

### Implement the Naive Bayes classifier with the TF-ICF weighting scheme.

In [ ]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

### Calculate the probability of each category based on the frequency of documents in the training set that belong to that category.

In [ ]:
count_bus = 0
count_tech = 0
count_politics = 0
count_sport = 0
count_ent = 0
for i in range(len(df['Text'])):
  if df['Category'][i] == 'business':
    count_bus += 1
  if df['Category'][i] == 'tech':
    count_tech += 1
  if df['Category'][i] == 'politics':
    count_politics += 1
  if df['Category'][i] == 'sport':
    count_sport += 1
  if df['Category'][i] == 'entertainment':
    count_ent += 1
total = len(df['Text'])
print('Probability of category Business: ', count_bus/total)
print('Probability of category Tech: ', count_tech/total)
print('Probability of category Politics: ', count_politics/total)
print('Probability of category Sport: ', count_sport/total)
print('Probability of category Entertainment: ', count_ent/total)

Probability of category Business:  0.22550335570469798
Probability of category Tech:  0.17516778523489934
Probability of category Politics:  0.18389261744966443
Probability of category Sport:  0.23221476510067113
Probability of category Entertainment:  0.18322147651006712

### Calculate the probability of each feature given each category based on the TF-ICF values of that feature in documents belonging to that category.

In [ ]:
prob_category = {0:count_bus/total, 1:count_tech/total, 2:count_politics/total, 3:count_sport/total, 4:count_ent/total}

In [ ]:
prob = tfdf.copy()
for i in range(len(prob)):
  prob.iloc[i] = prob.iloc[i]/prob_category[i]
prob.head()

,worldcom,ex,boss,launch,defenc,lawyer,defend,former,chief,berni,...,103,playboyz,maniac,granada,cheeki,cassett,grandma,verbalici,stereophon,rapport
0,167.378353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.796793,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,3.814891,3.814891,3.814891,3.814891,3.814891,3.814891,3.814891,3.814891,3.814891,3.814891

## 4. Testing the Naive Bayes classifier with TF-ICF:

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print(accuracy_score(y_pred, y_test))
print()
print(precision_score(y_pred, y_test, average=None))
print(recall_score(y_pred, y_test, average=None))
print(f1_score(y_pred, y_test, average=None))

0.9977628635346756

[0.99074074 1.         1.         1.         1.        ]
[1.         1.         1.         1.         0.98648649]
[0.99534884 1.         1.         1.         0.99319728]

## Improving the classifier

### 80:20

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(vectorized_df.values, df['Category'].values, test_size=0.20, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print(accuracy_score(y_pred, y_test))
print(precision_score(y_pred, y_test, average=None))
print(recall_score(y_pred, y_test, average=None))
print(f1_score(y_pred, y_test, average=None))

1.0
[1. 1. 1. 1. 1.]
[1. 1. 1. 1. 1.]
[1. 1. 1. 1. 1.]

### 50:50

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(vectorized_df.values, df['Category'].values, test_size=0.50, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print(accuracy_score(y_pred, y_test))
print()
print(precision_score(y_pred, y_test, average=None))
print(recall_score(y_pred, y_test, average=None))
print(f1_score(y_pred, y_test, average=None))

0.9986577181208054

[0.99415205 1.         1.         1.         1.        ]
[1.         1.         1.         1.         0.99280576]
[0.99706745 1.         1.         1.         0.99638989]

### Try using different types of features such as n-grams or TF-IDF weights.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer = TfidfVectorizer()
ls = []
for i in range(len(df['Text'])):
  st = " ".join(df['Text'][i])
  ls.append(st)
X = vectorizer.fit_transform(ls)
X = X.toarray()
t_df = pd.DataFrame(X)
t_df

,0,1,2,3,4,5,6,7,8,9,...,17106,17107,17108,17109,17110,17111,17112,17113,17114,17115
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.024125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.018341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,0.0,0.033445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1486,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1487,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1488,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1489,0.0,0.025422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 70:30

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(t_df.values, df['Category'].values, test_size=0.30, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print(accuracy_score(y_pred, y_test))
print()
print(precision_score(y_pred, y_test, average=None))
print(recall_score(y_pred, y_test, average=None))
print(f1_score(y_pred, y_test, average=None))

0.9172259507829977

[0.85185185 0.92405063 0.93023256 0.97029703 0.91780822]
[0.91089109 0.8902439  0.94117647 0.98       0.84810127]
[0.88038278 0.9068323  0.93567251 0.97512438 0.88157895]